
:root {
  --san-serif: -apple-system, BlinkMacSystemFont, sans-serif;
  --fontSize: 16px;
  --lineHeight: calc(var(--fontSize) * 1.5);
  --columnGap: calc(var(--lineHeight) * 2);
  --rowGap: calc(var(--lineHeight) * 2);

  --background: rgb(255, 255, 255);
  --PrimaryCopy: rgb(10, 10, 10);
  --SecondairyCopy: rgb(117, 117, 117);
  --gray-400: rgb(117, 117, 117);

  --pink: rgb(255, 0, 64);

  --serif: ui-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(20, 21, 24);
    --PrimaryCopy: rgb(240, 240, 240);
    --SecondairyCopy: rgb(150, 150, 150);
  }
}

@supports (color: color(display-p3 1 1 1)) {
  :root {
    --pink: color(display-p3 1 0 0.2823 / 1);
  }
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: var(--background);
  color: var(--SecondairyCopy);

  font-family: var(--san-serif);
  font-size: var(--fontSize);
  font-weight: 300;
  line-height: var(--lineHeight);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

#root {
  justify-content: center;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  width: 100vw;
  min-height: 100vh;
  max-width: 75rem;
  display: grid;
  margin: 2rem auto;
}

.App {
  padding: 0 1rem;
}

nav {
  margin: 4rem 0;
  text-align: right;

  display: flex;
  line-height: var(--lineHeight);

  align-content: center;
  justify-content: flex-end;
}

nav a {
  text-decoration: none;
  transition: color 0.3s;
  color: var(--SecondairyCopy);
  margin: 0 0 0 1rem;
}

nav a.selected,
nav a:hover {
  color: var(--PrimaryCopy);
}

nav .logo {
  font-weight: 500;
  letter-spacing: -0.125px;
  margin: 0 auto 0 0;
}

/* !footer */
footer {
  margin: 10rem 0 0 0;
  padding: 0.5rem 0;
  text-align: center;
  display: flex;
  line-height: var(--lineHeight);
  align-content: center;
  justify-content: center;
}

footer a {
  text-decoration: none;
  transition: color 0.3s;
  color: var(--SecondairyCopy);
  margin: 0 .75rem 0 0;
}

/* !content */

picture,
img {
  display: block;
  height: auto;
  max-width: 100%;
  margin: 0;
  background: var(--SecondairyCopy);
  border-radius: .25rem;
}

/* !breakpoints */

@media (max-width: 768px) {
}

@media (max-width: 576px) {  

nav a {
  margin: 0 0 0 .75rem;
}
}
